<a href="https://colab.research.google.com/github/t-satwik/CS211-DSA-Lab/blob/main/crop_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Various Classification Algorithms for Crop Recommendation System**
7 attributes are present in the given data set
1.   N
2.   P
3.   K
4. temperature
5. humidity
6. ph
7. rainfall

Using these values, the model will predict one of the 22 crops which is more likely to thrive, in the given conditions.

The models considered are:
1. SVM(Support Vector Machine)
2. Logistic Regression
3. K nearest neighbours
4. Naive-Bayes(considered but cannot be used in the this scenario because of indepence of attributes condition)

In [27]:
#Reading Data
#data-set src:https://www.kaggle.com/atharvaingle/crop-recommendation-dataset
import pandas as pd
path="https://drive.google.com/uc?export=download&id=1e_J4ObhvpdBsTXaH3wdwFH5oj78GT1wB"
data=pd.read_csv(path) 
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [28]:
#splitting the data into train and test sets
data.shape
x=data[['N','P','K','temperature','humidity','ph','rainfall']]
y=data['label']
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y, train_size=0.7)

In [29]:
#SVM IMPLEMENTATION
from sklearn.svm import SVC
start_c=0.00001
c_values=[float((10**i)*start_c) for i in range(10)]
ker_values=['linear', 'poly', 'rbf']
values={}
for c in c_values:
  values[str(c)]={}
  for ker in ker_values[:1]:
    values[str(c)][ker]={}
    current_svc=SVC(C=c,kernel=ker)
    current_svc.fit(train_x, train_y)
    values[str(c)][ker]['train']=current_svc.score(train_x, train_y)
    test_predict=current_svc.predict(test_x)
    values[str(c)][ker]['test']=current_svc.score(test_x, test_y)
# print the predicted class and actual y values.
# print(test_predict)
# print(test_y)
best_score=-1.0
for c in values.keys():
  for k in values[c].keys():
    if values[c][k]['test']>best_score:
      best_score=values[c][k]['test']
      best_c=c
      best_ker=k
print("SVM Accuracy={} c={} ker={}".format(best_score, best_c, best_ker))
# Print in the form of a table.
# temp={}
# for c in values.keys():
#   temp[c]={}
#   for k in values[c].keys():
#     temp[c][k]=(values[c][k]['train'], values[c][k]['test'])
# pd.DataFrame(temp)

SVM Accuracy=0.9848484848484849 c=0.01 ker=linear

In [30]:
#Logistic Regression Implementation
# src:https://www.kaggle.com/code/satishgunjal/multiclass-logistic-regression-using-sklearn/notebook
from sklearn import linear_model
lm = linear_model.LogisticRegression(multi_class='ovr', solver='liblinear')
lm.fit(train_x, train_y)
best_score=lm.score(test_x, test_y)
print("Logistic Regression(without tweaking the hyperparams) Accuracy={}".format(best_score))

Logistic Regression(without tweaking the hyperparams) Accuracy=0.943939393939394

In [31]:
# K Nearest Neighbours
# src: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html
from sklearn.neighbors import KNeighborsClassifier
best_score=-1
for i in range(1, 100):
  knn = KNeighborsClassifier(n_neighbors=i)
  score=knn.fit(train_x, train_y).score(test_x, test_y)
  if score>best_score:
    best_score=score
    best_neighbours=i
print("K nearest neighbours Accuracy={} #neighbours={}".format(best_score, best_neighbours))

K nearest neighbours Accuracy=0.9833333333333333 #neighbours=1

In [32]:
# Naive Bayes: Independence rule not satisifed between humidity and rainfall, so cannot implement